<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>DingDing</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DingDing20x20</string>
					<string>DingDing29x29</string>
					<string>DingDing40x40</string>
					<string>DingDing60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Lark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Lark20x20</string>
					<string>Lark29x29</string>
					<string>Lark40x40</string>
					<string>Lark60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>NeiXin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeiXin20x20</string>
					<string>NeiXin29x29</string>
					<string>NeiXin40x40</string>
					<string>NeiXin60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>QQ</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>QQ20x20</string>
					<string>QQ29x29</string>
					<string>QQ40x40</string>
					<string>QQ60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Tim</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Tim20x20</string>
					<string>Tim29x29</string>
					<string>Tim40x40</string>
					<string>Tim60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>WeChat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WeChat20x20</string>
					<string>WeChat29x29</string>
					<string>WeChat40x40</string>
					<string>WeChat60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WeWork</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WeWork20x20</string>
					<string>WeWork29x29</string>
					<string>WeWork40x40</string>
					<string>WeWork60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>DingDing</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DingDing20x20</string>
					<string>DingDing29x29</string>
					<string>DingDing40x40</string>
					<string>DingDing76x76</string>
					<string>DingDing83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Lark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Lark20x20</string>
					<string>Lark29x29</string>
					<string>Lark40x40</string>
					<string>Lark76x76</string>
					<string>Lark83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>NeiXin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeiXin20x20</string>
					<string>NeiXin29x29</string>
					<string>NeiXin40x40</string>
					<string>NeiXin76x76</string>
					<string>NeiXin83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>QQ</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>QQ20x20</string>
					<string>QQ29x29</string>
					<string>QQ40x40</string>
					<string>QQ76x76</string>
					<string>QQ83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Tim</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Tim20x20</string>
					<string>Tim29x29</string>
					<string>Tim40x40</string>
					<string>Tim76x76</string>
					<string>Tim83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>WeChat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WeChat20x20</string>
					<string>WeChat29x29</string>
					<string>WeChat40x40</string>
					<string>WeChat76x76</string>
					<string>WeChat83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WeWork</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WeWork20x20</string>
					<string>WeWork29x29</string>
					<string>WeWork40x40</string>
					<string>WeWork76x76</string>
					<string>WeWork83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要使用定位</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
